.pagingTabs{ margin: 15px 0px;}
.pagingTabsTotals{margin-bottom: 10px;}
.pagingTabs a.selected {
    background-color: #467AA7;
    border: 1px solid #DDDDDD;
    color: #FFFFFF;
}
.pagingTabs a {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    color: #000000;
    margin-left: 2px;
    padding: 2px 4px;
}
.blogEntry{
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #467AA7;	
}
.blogEntry .description{
	margin: 5px 0px;
}
.blogEntry a{font-weight:bold;}
.odd{
	background-color:#E8EBF4;
}
.even{
	background-color:#FCFCFC;
}
#content p label, p label{font-weight: bold;}
.answer {margin: 10px 0px; border-top: 1px solid #467AA7}

